@charset "UTF-8";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v145/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-guru-saran-2043472-3667041.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formularion > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 5px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 7%);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > i {
    font-size: 0.8em;
}